{% extends 'layout2.html' %}
{% block title %}
Jetbit - About
{% endblock %}
{% block content %}
<div class="justify-content-center">
    <h3>JetBit is a MIDI music generator. </br>
        Utilizing the generative capabilities of the GAN architecture,</br>
        we are able to compose new musical tracks from scratch without any user supervision. </br>
        JetBit is simple to use and requires no musical education at all - </br>
        making new music has never been easier!
    </h3>
    </br>
    <a href="/midiPlayer"><button type="button" class="btn btn-success">Try it!</button></a>
</div>
{% endblock %}
{% block footer %}
{% endblock %}